{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>
    This is the about
</h1>
   <h4>
    Lorem ipsum dolor sit natus explicabo doloremque at ea delectus rem voluptas veniam aperiam placeat similique ipsa quia. Quia a eveniet laborum, nisi, sed deleniti praesentium veritatis maxime ut consectetur, esse blanditiis nostrum provident! Nam, quas sit aspernatur totam repudiandae illo amet quod hic, iure optio consequuntur corporis neque nobis itaque laboriosam ipsa harum autem! Laborum nisi sint architecto rerum? Commodi consequuntur asperiores dolore impedit rem tempora velit eum. Fuga, similique! Officiis quidem in nihil, alias excepturi vitae consequuntur laborum dolorem odio? Velit enim maxime laborum quas aspernatur consectetur beatae doloribus. Reiciendis nihil at possimus dolor assumenda aliquam odit laudantium facere laboriosam quis! Debitis iusto earum ipsa sit maiores, ullam nulla odio laudantium adipisci beatae tenetur cumque corporis vel ex ipsum asperiores excepturi tempora quod! Veritatis, quibusdam minima?
   </h1>
{% endblock %}